<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

            <ul>
                <li>A Web application that displays the weather conditions of any geographic location over the globe.</li>
                <li>Developed using Node JS , deployed on Heroku , Hosted on the server using ExpressjS.</li>
                <li>Mapbox API used to fetch geo-coordinates of the location entered by User.</li>
                <li>Weather API used to fetch weather conditions of that location on passing the coordinates obtained.</li>    
            </ul>

        <img class="portrait" src="" alt="">
    </div>

    {{>footer}}
</body>

</html>