<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
</head>

<body>
    <div class="main-content">{{>header}}
        <ul>
            <li>Enter the location in the input field , one can enter city name or address </li>
            <li>Press Submit after that. </li>
            <li>If you entered the correct location the result would contain the current weather of that location</li>
            <li>If there is some error then that error would be dislilayed</li>
        </ul>
    </div>
    {{>footer}}
</body>

</html>